<div class="row">
  <div *ngFor="let source of weatherInfos" class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Time</th>
          <th scope="col">Temperature °C</th>
          <th scope="col">Precipitation mm</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let weatherInfo of source">
          <th scope="row">{{ weatherInfo.time }}</th>
          <td>{{ weatherInfo.temp }} °C</td>
          <td>{{ weatherInfo.precipitation }} mm</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
