<form *ngIf="showSearch" #searchForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="col">
    <label for="inputLat" class="form-label">Latitude:</label>
    <input
      type="text"
      [(ngModel)]="latitude"
      name="latitude"
      class="form-control"
      id="inputLat"
      placeholder="Latitude"
      required
    />
  </div>
  <div class="col">
    <label for="inputLong" class="form-label">Longitude:</label>
    <input
      type="text"
      [(ngModel)]="longitude"
      name="longitude"
      class="form-control"
      id="inputLong"
      placeholder="Longitude"
      required
    />
  </div>
  <div class="col">
    <label for="inputStartDate" class="form-label">Starting date:</label>
    <input
      type="datetime-local"
      [(ngModel)]="startDate"
      name="startDate"
      class="form-control"
      id="inputStartDate"
      required
    />
  </div>
  <div class="col">
    <label for="inputEndDate" class="form-label">End date:</label>
    <input
      type="datetime-local"
      [(ngModel)]="endDate"
      name="endDate"
      class="form-control"
      id="inputEndDate"
      required
    />
  </div>
  <div class="modal-footer">
    <button
      [disabled]="searchForm.invalid"
      type="submit"
      class="btn btn-primary"
    >
      Search
    </button>
  </div>
</form>
