<form *ngIf="showSearch" #searchForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="row mb-3">
    <label for="inputLat" class="col-sm-2 col-form-label">Latitude:</label>
    <div class="col-sm-5">
      <input
        type="text"
        [(ngModel)]="latitude"
        name="latitude"
        class="form-control"
        id="inputLat"
        placeholder="Latitude"
        required
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputLong" class="col-sm-2 col-form-label">Longitude:</label>
    <div class="col-sm-5">
      <input
        type="text"
        [(ngModel)]="longitude"
        name="longitude"
        class="form-control"
        id="inputLong"
        placeholder="Longitude"
        required
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputStartDate" class="col-sm-2 col-form-label"
      >Starting date:</label
    >
    <div class="col-sm-3">
      <input
        type="datetime-local"
        [(ngModel)]="startDate"
        name="startDate"
        class="form-control"
        id="inputStartDate"
        required
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputEndDate" class="col-sm-2 col-form-label">End date:</label>
    <div class="col-sm-3">
      <input
        type="datetime-local"
        [(ngModel)]="endDate"
        name="endDate"
        class="form-control"
        id="inputEndDate"
        required
      />
    </div>
  </div>
  <button [disabled]="searchForm.invalid" type="submit" class="btn btn-primary">
    Search
  </button>
  <app-map *ngIf="showMap" (onMapClick)="updateCoords($event)"></app-map>
</form>
